# Lokalna baza danych - nie commitujemy jej do repozytorium
health_dashboard.db
*.db-wal
*.db-shm

data_exports/

node_modules/
.next/
.env
.env.local

# Generated build artifacts
/.next/
/out/
/dist/

*.tsbuildinfo

pipeline.md